.about__container {
	display: flex;
	flex-direction: column;
	padding: 10% 0;
	font-weight: 400;
	justify-items: space-around;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.about {
	position: relative;
	align-items: center;
	height: 100vh;
}

@keyframes up {
	from {
		transform: translateY(100vh);
	}
	to {
		transform: translateX(0vw);
	}
}

.about__headerContainer {
	display: flex;
	align-items: center;
}

.about__header {
	font-weight: 600;
	color: var(--lightest-slate);
	font-size: clamp(26px, 5vw, var(--fz-heading));
	min-width: max-content;
	margin-bottom: 8px;
}

.about__number {
	font-family: var(--font-mono);
	color: var(--green);
	font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
	font-weight: 400;
	margin-bottom: 8px;
	margin-top: auto;
	padding-right: 10px;
}

.about__line {
	width: 100%;
	border-top: 1px solid var(--lightest-navy);
	margin-left: 15px;
}

.about__section {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.about__paragraph {
	font-size: clamp(var(--fz-md), 3vw, var(--fz-lg));
	max-width: 700px;
	padding-top: 10px;
}

.about__listFlex {
	display: flex;
	max-width: 400px;
	width: 100%;
	justify-content: space-between;
}

li {
	font-size: var(--fz-md);
	font-family: var(--fz-mono);
	padding-left: 10px;
	padding-bottom: 7px;
}

@media screen and (max-width: 770px) {
	.about__listFlex {
		max-width: 260px;
	}
}
