.contact {
	height: 700px;
	align-items: center;
	position: relative;

}


@keyframes up {
	from{
		transform: translateY(100vh);
	}
	to{
		transform: translateX(0vw);
	}
}

.contact__container {
	display: flex;
	flex-direction: column;
	height: 80%;
	align-items: center;
	justify-content: center;
}

.contact__h2 {
	font-family: var(--font-mono);
	font-size: var(--fz-md);
	color: var(--green);
	margin-top: 100px;
}

.contact__h1 {
	margin-top: 20px;
	color: var(--lightest-slate);
	font-weight: bold;
}

.contact__p {
	margin-top: 20px;
	max-width: 600px;
	font-size: var(--fz-lg);
	text-align: center;
}

.contact__button {
	margin-top: 80px;
	background: none;
	border: 1px solid var(--green);
	color: var(--green);
	font-family: var(--font-mono);
	padding: 14px;
	width: max-content;
	border-radius: 5px;
	cursor: pointer;
	transition: var(--transition);
}

.contact__button:hover {
	background: var(--lightest-navy);
	box-shadow: 0 10px 30px -15px var(--navy-shadow);
	transform: scale(1.1);
}

.contact__a {
	width: max-content;
	height: max-content;
}

.contact__bottomText {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	font-size: var(--fz-xs);
	font-family: var(--font-mono);
	max-width: max-content;
	text-align: center;
	min-width: 135px;
}
