.header {
	box-shadow: 0 10px 30px -10px var(--navy-shadow);
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	position: fixed;
	top: 0px;
	z-index: 11;
	padding: 0px 50px;
	width: 100%;
	height: var(--nav-height);
	background-color: rgba(10, 25, 47, 0.85);
	backdrop-filter: blur(10px);
	transition: var(--transition);
	filter: none !important;
	pointer-events: auto !important;
	user-select: auto !important;
}

.header__container {
	display: flex;
	justify-content: flex-end;
	width: 90%;
	background: none;
}

.head__ {
	background: none;
}

.header__nav {
	align-items: center;
	display: flex;
	font-family: var(--font-mono);
	transition: var(--easing);
	z-index: 11;
	width: max-content;
}

.blur {
	align-items: center;
	display: flex;
	gap: 2em;
	font-family: var(--font-mono);
	transition: var(--easing);
	z-index: 11;
	width: max-content;
	background: none;
}

.header__logo {
	display: flex;
	align-items: center;
	cursor: pointer;
	flex-grow: 1;
	background: none;
}

.header__rocket {
	background: none;
	color: var(--green);
	font-size: 40px;
	animation: rotate;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: var(--easing);
	animation-fill-mode: forwards;
	animation-direction: alternate;
}

.header__ {
	display: flex;
	gap: 2em;
	width: max-content;
	background: none !important;
}

@keyframes rotate {
	0% {
		transform: translateX(0%);
	}

	50% {
		transform: rotate(50deg);
	}

	100% {
		color: var(--green);
		/* transform: rotate(60deg); */
		transform: translateX(4000%) rotate(50deg);
	}
}

.header__text {
	cursor: pointer;
	transition: var(--transition);
	font-weight: normal;
	background: none;
}

a {
	color: unset;
	background: none;
	transition: var(--transition);
}

h3 > a > span {
	color: var(--green);
	background: none;
}

.header__text {
	color: var(--lightest-slate);
	font-size: var(--fz-xs);
	background: none;
}

a:hover {
	color: var(--green) !important;
	transform: scale(0.99);
}

.header__initials {
	color: var(--green);
	font-family: var(--font-mono);
	font-weight: 400;
	transition: var(--transition);
	background: none;
}

.header__initials:hover {
	letter-spacing: 1px;
}

.header__hamburger {
	display: none;
}

@media screen and (max-width: 770px) {
	.email {
		display: none;
	}

	/* .socials {
		display: none;
	} */

	.header {
		padding: 0;
	}

	.header__container {
		width: 90%;
		align-items: center;
		margin-right: auto;
		margin-left: auto;
	}

	.header__nav {
		width: 70px;
		height: 70px;
		cursor: pointer;
		background: none;
		justify-content: flex-end;
		margin-left: auto;
	}

	.header__hamburger {
		width: 70px;
		height: 70px;
		transition: var(--transition);
		display: inline-block;
		position: relative;
		z-index: 1000;
		background: none;
	}

	.header__hamburger span {
		width: 100%;
		height: 2px;
		background: var(--green);
		border-radius: 5px;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(0%, -50%);
	}

	.hamLine.a {
		top: 100%;
		width: 20px;
		transform: translate(0%, -50px);

		transition: var(--transition);
	}

	.hamLine.a.ham {
		transform: translate(-100%, -32px) rotate(-45deg);
		width: 10px;
	}

	.hamLine.b {
		transition: var(--transition);
		width: 40px;
	}

	.hamLine.b.ham {
		transform: translate(-60%, 0px) rotate(45deg);
		width: 20px;
	}

	.hamLine.c {
		right: 0;
		width: 20px;
		transform: translate(100%, 13px);
		transition: var(--transition);
	}

	.hamLine.c.ham {
		transform: translate(-39%, -4px) rotate(-45deg);
		transition: var(--transition);
		width: 10px;
	}

	.blur {
		display: none;
		background: none;
	}

	.blur.ham {
		display: block;
		position: fixed;
		height: 100vh;
		width: max-content;
		right: 0;
		top: 0;
		bottom: 0;
		background: none;
	}

	.head__ {
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0px;
		padding: 50px 10px;
		width: min(70vw, 350px);
		height: 100vh;
		outline: 0px;
		background-color: var(--light-navy);
		box-shadow: -10px 0px 30px -15px var(--navy-shadow);
		z-index: -9000;
		visibility: visible;
		/* transform: translateX(0vw); */
		animation: slide;
		animation-timing-function: var(--transition);
		animation-fill-mode: forwards;
		animation-duration: 200ms;
		animation-iteration-count: 1;
		animation-direction: alternate;
		align-items: center;
		align-content: center;
	}

	.header__ {
		flex-direction: column;
		justify-content: space-evenly;
		height: 70%;
		width: 100%;
		align-items: center;
		margin-top: 10%;
	}

	h3 > a > span {
		display: block;
		font-size: var(--fz-sm);
		text-align: center;
		margin-bottom: 10px;
	}

	h3 > a {
		font-size: var(--fz-xl);
	}

	@keyframes slide {
		from {
			transform: translateX(100vw);
		}

		to {
			transform: translateX(0vw);
		}
	}

	.header__text {
		flex-direction: column;
		background: none;
	}
}
