.hero {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	animation: up;
	animation-duration: 3s;

}


/* @keyframes up {
	from{
		transform: translateY(40vh);
	}
	to{
		transform: translateX(0vw);
	}
} */

.hero__text1 {
	margin-top: 40px;
	font-family: var(--font-mono);
	font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
	color: var(--green);
	line-height: 1.1;
	font-weight: 400;
}

.hero__name {
	margin-top: 0.2em;
	font-size: clamp(40px, 8vw, 70px);
	color: var(--lightest-slate);
}

.hero__support {
	font-size: clamp(40px, 8vw, 70px);
}

.hero__description {
	margin-top: 30px;
	max-width: 540px;
	font-size: var(--fz-lg);
	font-weight: 400;
	font-family: var(--font-sans);
}

.hero__a{
	height: max-content;
}

.hero__resumeButton {
	background: none;
	border: 1px solid var(--green);
	padding: 1em 1.6em;
	color: var(--green);
	margin-top: 60px;
	border-radius: 5px;
	cursor: pointer;
	width: max-content;
	font-size: var(--fz-md);
	transition: var(--transition);
}

.hero__resumeButton:hover {

	background: var(--lightest-navy);
	box-shadow: 0 10px 30px -15px var(--navy-shadow);
	transform: scale(1.07);
}
