.contain {
	padding: 0 15%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: max-content;
	/* transition: var(--transition); */
}

.app {
	transition: var(--transition);
}

.loading {
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	display: flex;
	background: var();
	flex-direction: column;
}

.sv {
	font-size: 100px;

	animation: fly;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: var(--easing);
	animation-fill-mode: forwards;
	/* animation-direction: alternate; */
}

@keyframes fly {
	0% {
		transform: rotate(0deg) translateX(0%);
	}

	100% {
		color: var(--green);
		/* transform: rotate(60deg); */
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) {
	.contain {
		padding: 0 6%;
	}

	.contain.true {
		filter: blur(5px) brightness(0.7);
		transition: var(--transition);
		pointer-events: none;
		user-select: none;
	}
}

@media screen and (max-width: 480px) {
	.contain {
		padding: 0 5%;
	}
}
